@model TN213_MuaSamCanTho.Models.DiaDiem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/css/leaflet.css" rel="stylesheet" />
<script src="~/Content/js/leaflet.js"></script>
<script src="~/Content/Admin/admin.js"></script>

<div class="ad-container">
    <h2>Xóa địa điểm</h2>

    <h3>Bạn thực sự muốn xóa địa điểm này?</h3>
    <p>Mã địa điểm: @Model.MaDiaDiem</p>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Loại địa điểm
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoaiDiaDiem.TenLoai)
            </dd>

            <dt>
                Tên địa điểm
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenDiaDiem)
            </dd>

            <dt>
               Địa chỉ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

            <dt>
               Vị trí
            </dt>

            <dd>
                <div id="map" style="pointer-events: none;"></div>
                <input class="form-control text-box single-line col-md-5" id="The_Geom_WKT" name="The_Geom_WKT" readonly required type="text" value="POINT(@Model.The_Geom.XCoordinate @Model.The_Geom.YCoordinate)">

            </dd>

            <dt>
               Thời gian phục vụ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThoiGianPhucVu)
            </dd>




            <dt>
                Hình ảnh
            </dt>

            <dd>
                <img src="~/Content/LocationImages/@Model.HinhAnh" class="img-edit" />
                <br />@Html.DisplayFor(model => model.HinhAnh)
            </dd>

           
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xác nhận xóa" class="btn btn-default" /> |
                @Html.ActionLink("Trở về", "Index")
            </div>
        }
    </div>
</div>