@using TN213_MuaSamCanTho.Models
@model DiaDiem
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    IEnumerable<BinhLuan> lstBinhLuan = (IEnumerable<BinhLuan>)ViewBag.DsBinhLuan;
    TaiKhoan tk = Session["TaiKhoan"] as TaiKhoan;
}


<link rel="stylesheet" href="/Content/css/leaflet.css">
<!--liên kết css của leaflet-->
<script src="/Content/js/leaflet.js"></script>
<!--liên kết js của leaflet-->

<script src="~/Content/js/XemChiTiet.js"></script>

<link href="~/Content/css/toastr.css" rel="stylesheet" />
<script src="~/Content/js/toastr.js"></script>

@Html.Partial("ThongBaoPartial")
<div class="container-detail">
    <center>
        <h1 id="location-name">@Model.TenDiaDiem</h1>

        <img src="~/Content/LocationImages/@Model.HinhAnh" style="margin: 30px" />

        <p>Địa chỉ: @Model.DiaChi <br />Giờ mở cửa: <b> @Model.ThoiGianPhucVu</b></p>

        @*Truyền tọa độ để dùng DOM - jquery lấy tọa độ hiện lên bản đồ*@
        <input id="lat" type="text" style="display:none" value="@Model.The_Geom.YCoordinate" />
        <input id="long" type="text" style="display:none" value="@Model.The_Geom.XCoordinate" />
        <div id="map2"></div>
    </center>
</div>

<div class="container container-detail" ">
    <div class="row bootstrap snippets bootdeys">

        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Nhận xét
                </div>

                <div class="panel-body">
                    @{ if (tk != null)
                        {

                            using (Ajax.BeginForm("DangBinhLuan", "User", new AjaxOptions { @UpdateTargetId = "KetQua", @InsertionMode = InsertionMode.InsertBefore }))
                            {
                                <input type="text" value="@Model.MaDiaDiem" style="display:none" name="MaDiaDiem" />
                                <input type="text" style="display:none" name="NoiDungBinhLuan" id="NoiDung" />
                                <textarea class="form-control" placeholder="Viết nhận xét..." rows="3" id="NoiDungHienThi"></textarea>
                                <br>
                                <input type="submit" class="btn btn-info pull-right" value="Đăng" id="submit-form" disabled>
                                <div class="clearfix"></div>
                            }


                        }
                        else
                        {
                            <h3 class="text-center text-info">Vui lòng <a href="@Url.Action("DangNhap", "User")" class="login-link">Đăng nhập</a> để có thể nhận xét!</h3>
                        }
                    }

                    <hr>


                    <ul class="media-list" id="KetQua">

                        @{ if (lstBinhLuan.Count() > 0)
                            {
                                foreach (var item in lstBinhLuan)
                                {
                                    var maBinhLuan = item.MaBinhLuan;
                                    <li class="media" id="KetQua-@maBinhLuan">
                                        <a href="#" class="pull-left">
                                            <img src="~/Content/css/images/avatar.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">@item.ThoiGianBinhLuan</small>
                                            </span>
                                            <strong class="text-success">@item.TaiKhoan.TenNguoiDung</strong>

                                            <div class="edit-control">
                                                @{ if (tk != null && tk.MaNguoiDung == item.MaNguoiDung)
                                                    {
                                                        <a class="link-edit-comment del" data="@maBinhLuan" data-bs-toggle="modal" data-bs-target="#exampleModal">Xóa</a>
                                                        <a class="link-edit-comment edit" data="@maBinhLuan">Sửa</a>
                                                    }
                                                }
                                            </div>

                                            <p id="noidung-@maBinhLuan">
                                                @item.NoiDungBinhLuan

                                            </p>
                                            @using (Ajax.BeginForm("SuaBinhLuan", "User", new AjaxOptions { @UpdateTargetId = "KetQua-" + maBinhLuan, @InsertionMode = InsertionMode.Replace }))
                                            {
                                                <div class="edit-comment" id="edit-@maBinhLuan">
                                                    <input type="text" value="@maBinhLuan" style="display:none" name="MaBinhLuan" />
                                                    <textarea class="form-control" rows="3" required id="edit-text-@maBinhLuan" name="NoiDungBinhLuan"></textarea>
                                                    <br>
                                                    <input type="button" class="btn btn-grey pull-right btn-cancel" value="Hủy" data="@maBinhLuan">
                                                    <input type="submit" class="btn btn-info pull-right btn-submit" value="Lưu thay đổi" data="@maBinhLuan">
                                                    <div class="clearfix"></div>
                                                </div>
                                            }
                                        </div>
                                    </li>
                                }
                            }

                        }
                    </ul>
                </div>
            </div>
        </div>



    </div>
</div>



<!-- Xác nhận xóa -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có thực sự muốn xóa nhận xét này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <a class="btn btn-primary" href="" id="XacNhanXoa">Xóa</a>
                
                
            </div>
        </div>
    </div>
</div>

