@using TN213_MuaSamCanTho.Models
@model DiaDiem
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    IEnumerable<BinhLuan> lstBinhLuan = (IEnumerable<BinhLuan>)ViewBag.DsBinhLuan;
}


<link rel="stylesheet" href="/Content/css/leaflet.css">
<!--liên kết css của leaflet-->
<script src="/Content/js/leaflet.js"></script>
<!--liên kết js của leaflet-->

<script src="~/Content/js/XemChiTiet.js"></script>
<div class="container-detail">
    <center>
        <h1 id="location-name">@Model.TenDiaDiem</h1>

        <img src="~/Content/LocationImages/@Model.HinhAnh" style="margin: 30px" />

        <p>Địa chỉ: @Model.DiaChi <br />Giờ mở cửa: <b> @Model.ThoiGianPhucVu</b></p>

        @*Truyền tọa độ để dùng DOM - jquery lấy tọa độ hiện lên bản đồ*@
        <input id="lat" type="text" style="display:none" value="@Model.The_Geom.YCoordinate" />
        <input id="long" type="text" style="display:none" value="@Model.The_Geom.XCoordinate" />
        <div id="map2"></div>
    </center>
</div>

<div class="container container-detail" ">
    <div class="row bootstrap snippets bootdeys">

        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Nhận xét
                </div>
               
                <div class="panel-body">
                    @{ if (Session["TaiKhoan"] != null)
                        {
                            <textarea class="form-control" placeholder="Viết nhận xét..." rows="3"></textarea>
                            <br>
                            <button type="button" class="btn btn-info pull-right">Đăng</button>
                            <div class="clearfix"></div>
                        }
                        else
                        {
                            <h3 class="text-center text-info">Vui lòng <a href="@Url.Action("DangNhap", "User")" class="login-link">Đăng nhập</a> để có thể nhận xét!</h3>
                        }
                    }

                    <hr>

                    <ul class="media-list">

                        @{ if (lstBinhLuan.Count() > 0)
                            {
                                foreach (var item in lstBinhLuan)
                                {
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="~/Content/css/images/avatar.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">@item.ThoiGianBinhLuan</small>
                                            </span>
                                            <strong class="text-success">@item.TaiKhoan.TenNguoiDung</strong>
                                            <p>
                                                @item.NoiDungBinhLuan
                                            </p>
                                        </div>
                                    </li>
                                }
                            }
                            else
                            {
                                <h3 class="text-center text-info">Chưa có nhận xét nào!</h3>
                            }
                        }
                    </ul>
                </div>
                    </div>
                </div>



            </div>
        </div>

